.container {
  color: white;
  background: linear-gradient(
    6deg,
    rgba(0, 0, 0, 1) 35%,
    rgba(3, 45, 43, 1) 51%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 0 5% 10% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading {
  color: #0ebab1;
  text-align: left;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 1.7em;
  font-weight: 400;
  margin: 0px 0px;
  padding: 5% 0 0 0;
}

h2 {
  z-index: 1;
}

.card-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.card {
  border-radius: 0.4rem;
  background-color: #0ebab133;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22rem;
  height: 20rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.card:hover {
  transition: 0.5s;
  transform: translate(0, -10px);
  cursor: pointer;
}

.card:hover::after {
  background: rgba(0, 0, 0, 0.5);
}
.card::after {
  border-radius: 0.4rem;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.725);
  z-index: 0;
  pointer-events: none;
}

.show-more-button {
  border: 1px solid #0ebab1;
  background-color: black;
  color: #0ebab1;
  padding: 1rem 1rem;
  border-radius: 30px;
}
.show-more-button:hover {
  background-color: black;
  color: #0ebab1b0;
}

@media screen and (max-width: 640px) {
  .container {
    padding: 4% 5% 9% 5%;
  }

  h1 {
    font-size: x-large;
  }

  .card {
    width: 94%;
    height: 11rem;
    max-width: 82%;
    max-height: 14rem;
  }

  h2 {
    font-size: 1.3em;
  }

  .show-more-button {
    padding: 0.3rem 1rem;
  }
}

/* Medium devices (md) - 641px to 768px */
@media screen and (min-width: 641px) and (max-width: 768px) {
  h1 {
    font-size: 2.3em;
  }

  .main-heading {
    font-size: 1.4em;
  }
}

/* Large devices (lg) - 769px to 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 2.3em;
    font-weight: 700;
  }

  .main-heading {
    font-size: 1.5em;
  }
}

/* Extra large devices (xl) - 1025px to 1280px */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .container {
    padding: 4% 5% 8% 5%;
  }

  .main-heading {
    font-size: 1.5em;
  }

  h1 {
    font-size: 3.0em;
    font-weight: 700;
  }
}

/* 2xl devices - 1281px to 1536px */
@media screen and (min-width: 1281px) and (max-width: 1536px) {
}

/* Beyond 2xl - Above 1536px */
@media screen and (min-width: 1537px) {
}
