.main-container {
  display: flex;
  flex-direction: column;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.heading-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.main-heading {
  width: 50%;
  text-align: center;
}

.card {
  position: relative;
  width: 100%;
  max-width: 430px;
  height: 420px;
  background: no-repeat center/cover;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.425);
}

.card:hover::after {
  background: rgba(0, 0, 0, 0.5);
}
.card::after {
  border-radius: 0.4rem;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.425);
  z-index: 0;
  pointer-events: none;
}

.card-content {
  position: absolute;
  top: 10px;
  left: 10px;
}

.card-content h2 {
  color: #fff;
  position: relative;
  font-size: 1.75rem;
  letter-spacing: 0.25rem;
  font-weight: 700;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 1;
}

@media (max-width: 768px) {
  .card {
    height: 250px;
  }

  .card-content h2 {
    font-size: 16px;
  }
}
