.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: white;
  }
  
  .heading {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .subHeading {
    font-size: 1.8rem;
    color: #0ebab1;
    margin-top: 20px;
  }
  
  .paragraph {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .section {
    margin-bottom: 20px;
    color: inherit;
  }
  