
.banner-container {
  position: relative;
  width: 100%;
  height: 16rem; 
  background-size: cover;
  background-position: center;
  max-height: 49rem
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65); 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 3rem 5rem;
}

.banner-wrapper {
  width: 95%;
  padding: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(1.5rem);
  background-color: #8686861a;
}

.banner-title {
  color: white;
  line-height: 1.2;
  letter-spacing: 0.1em;
  margin: 0;
  text-align: left;
}

.banner-subheading {
  color: white;
  font-size: 2.5rem !important; 
  letter-spacing: 0.2rem;
  text-align: left;
  margin-top: 1rem;
}

.banner-paragraph {
  color: white;
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 100;
}

.link-flex {
  display: flex;
}

.link-container {
  color: white;
  display: inline-flex;
  font-size: 1.2rem;
  font-weight: 800;
  gap: 0.5rem;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}

.link-container:hover {
  color: white;
}

.link-text {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.link-container:hover .angle-right-icon {
  background-color: #0ebab1;
}

.link-container:hover .line::before {
  width: 100%;
}

.line {
  position: relative;
  height: 0.5px;
  margin: 0;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #0ebab1;
  transition: width 0.5s ease;
}

.angle-right-icon {
  margin: 0.1rem 0 0 0;
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  transition: color 0.3s ease;
}


@media screen and (max-width: 640px) {

  .banner-overlay {
    justify-content: center;
  }

  .banner-container {
    max-height: none;
  }
  
  .banner-wrapper {
    width: 100%;
  }
  
  .banner-title {
    color: white;
    font-size: medium;
    line-height: 1.7em;
    letter-spacing: 0.1em;
    text-align: center;
  }

  .banner-paragraph {
    display: none;
  }
  
  .banner-subheading {
    color: white;
    font-size: 1.6em !important; 
    letter-spacing: 0.2rem;
    text-align: center;
  }

  .link-flex {
    justify-content: center;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .banner-wrapper {
    width: 95%;
    padding: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(1.5rem);
    background-color: #8686861a;
  }
  
  .banner-title {
    color: white;
    line-height: 1.2;
    letter-spacing: 0.1em;
    margin: 0;
    text-align: left;
  }
  
  .banner-subheading {
    color: white;
    font-size: 2.1rem !important; 
    letter-spacing: 0.3rem;
    text-align: left;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 769px) {
  .banner-paragraph{
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  
}

@media screen and (min-width: 1281px) and (max-width: 1536px) {
  
}

@media screen and (min-width: 1537px) {
}
